{% extends 'base.html' %}

{% block content %}
    <div class="article-entry">
        <h2>{{ object.title }}</h2>
        <p>by {{ object.author }} | {{ object.date }}</p>
        <p>{{ object.body }}</p>
    </div>

    {% if user == object.author %}
        <p><a href="{% url 'article_edit' article.pk %}">+ Edit</a></p>
        <p><a href="{% url 'article_delete' article.pk %}">+ Delete</a></p>
    {% endif %}

    <p><a href="{% url 'article_list' %}">← Back to All Articles</a></p>
{% endblock content %}